  <div id="about">
  <div class="container about">

    <div class="row">
      <div class="col-xs-12">

        <div class="cover-photo-container">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/hogwarts_small.jpg">
        </div>

        <div class="profile-photo">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/harry_potter_small.jpg">
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class= "user-navigation">

          <div class="btn-group" role="group" aria-label="user-nav-buttons">
            <%= link_to "Timeline", timeline_path, :class => "btn", :role => "button" %>
            <%= link_to "About", about_path, :class => "btn", :id => "current", :role => "button" %>
            <%= link_to photos_path, :class => "btn", :role => "button" do %>
              Photos <span class='user-nav-numbers'>(123)</span>
            <% end %>
            <%= link_to friends_path, :class => "btn", :role => "button" do %>
              Friends <span class='user-nav-numbers'>(123)</span>
            <% end %>
          </div>

          <div class= "edit-profile">
            <%= link_to "Edit Profile", about_edit_path %>
          </div>

        </div>
      </div>
    </div>

    <main>

      <div class = "row">
        <div class = "col-xs-12">
          <header>
            <h1>About</h1>
            <a href="about_edit.html" class="btn btn-primary btn-sm" role="button">Edit your Profile</a>
          </header>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="content-container">
            <div class="row">

              <div class="col-xs-5 left">

                <h3>
                  Basic Information
                </h3>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Birthday:</th>
                      <td>July 31st, 1980</td>
                    </tr>
                    <tr>
                      <th scope="row">College:</th>
                      <td>Hogwarts College</td>
                    </tr>
                    <tr>
                      <th scope="row">Hometown:</th>
                      <td>Godrick's Hollow, England</td>
                    </tr>
                    <tr>
                      <th scope="row">Currently Lives:</th>
                      <td>Godrick's Hollow, England</td>
                    </tr>
                  </tbody>
                </table>
                <h3>
                  Contact Information
                </h3>
                <table class="table">
                  <tbody>
                    <tr>
                      <th scope="row">Email:</th>
                      <td>harry_potter@hogwarts.edu</td>
                    </tr>
                    <tr>
                      <th scope="row">Telephone:</th>
                      <td>555-123-4567</td>
                    </tr>
                  </tbody>
                </table>

              </div>

              <div class="col-xs-7 right">

                <h3>
                  Words to Live By
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut
                </p>

                <h3>
                  About Me
                </h3>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>

              </div>

            </div>
          </div>
        </div>
      </div>

    </main>
  </div> <!-- container everything-except-navbar -->
</div>