<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'header' %>
  </head>

  <body>

    <%= render partial: 'navbar' %>

    <%= render partial: 'top' %>

    <main id="about" class="container">
      <div class="row section-header">
        <div class="col-sm-4 col-sm-offset-4">
          <h1>Friends</h1>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-sm-6">

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>