<%= render 'logged_in_navbar' %>

<div id="friends">
  <main class="container">
    <%= render "profile_and_cover_panel" %>

    <!-- Friends panel -->
    <section>
      <!-- header for Friends panel -->
      <header>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="main-panel-header">Friends</h2>
          </div>
        </div>
      </header>

      <!-- Friends listing -->
      <section class="friends-panel">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-sm-5">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-sm-5">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-5 col-sm-offset-1">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
              <div class="col-sm-5">
                <section class="friend-panel">
                  <div class="row vertical-align">
                    <div class="col-sm-3">
                      <%= image_tag "/user_silhouette_generic.png", class: "friend-photo", alt: "A generic photo icon." %>
                    </div>
                    <div class="col-sm-5">
                      <a href="#"><p>Hermione Granger</p></a>
                      <p><span class="muted">432 Friends</span></p>
                    </div>
                    <div class="col-sm-4">
                      <a href="#" class="btn btn-default active">Unfriend Me</a>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>
