<%= render 'layouts/navbar' %>
      
  <div class="container">
 	
	  <header class="header">
	
	      <div class="top-part">
	      	  <!-- <img class="cover-photo" src="assets/images/hogwarts_small.jpg"> -->
	      	  <%= image_tag "hogwarts_small.jpg", class: "cover-photo" %>
	      	  <!-- <img class='user-photo' src="assets/images/harry_potter_small.jpg"> -->
	      	  <%= image_tag "harry_potter_small.jpg", class: "user-photo" %>
	      	  <p class="user-name">Harry Potter</p>
	      </div>
	      
	      <div class="row tablist">
	  	  	  <ul class ="nav nav-pills" role="tablist">
	  	          <li><a href="#">Timeline</a></li>
	  	          <li><a href="#">About</a></li>
	  	          <li><a href="#">Photos</a></li>
	  	          <li class="active"><a href="#">Friends</a></li>
	  	          <li class="navbar-right edit-profile"><a href="#">Edit Profile</a></li> 
	  	      </ul>
	     </div>
	      
	     
	  </header> 
  </div> 	
	
  <div class="container">
	  <section class="sub-header">
	    <span><strong>Friends</strong></span>
	    <button class="btn btn-primary right-btn">Edit Profile</button> <!-- dynamic based on page -->
	  </section>
  </div>

  <section class="container">
      <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->
      <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->
       <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->
      <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->
       <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->
      <div class="col-md-5 friend-box">
          <%= image_tag "user_silhouette_generic.png", class: "user-photo-small" %>
          <div class="friend-info">
              <%= link_to "Hermoine Granger", href="#" %>
              <p>432 Friends</p>
          </div>
          <button class="btn btn-primary btn-unfriend">Unfriend Me</button>
      </div><!-- /.friend-box -->

  </section>