<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Danebook</title>

    <!-- Meta Stuff -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Bootstrap Javascripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Our CSS -->
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <%= render partial: 'navbar' %>

    <!-- container for all content below nav -->
    <header class="container">

    <!-- all content goes into this one row below nav -->
      <div class="row">

      <!-- col where landing message lives, left side -->
        <section class="col-sm-12 content">
          <%= image_tag("fuyuki.png", :alt => "Cover Image", :class => "cover-img") %>
        </section>

        <!-- col where signup form lives, right side -->
        <div class="col-sm-12 signup-wrapper">
          <!-- container-fluid to keep size 5 units -->
          <div class="container-fluid">
            <div class="row">

              <%= image_tag("rin.png", :alt => "Profile Picture", :class => "profile-img") %>

              <ul class="nav nav-tabs">
                <li role="presentation" class="col-sm-offset-3">
                  <a href="timeline.html">Timeline</a>
                </li>
                <li role="presentation">
                  <a href="about.html">About</a>
                </li>
                <li role="presentation">
                  <a href="photos.html">Photos (123)</a>
                </li>
                <li role="presentation" class="active">
                  <a href="friends.html">Friends (542)</a>
                </li>
                <li role="presentation" class="col-sm-offset-3 pull-right">
                  <a href="about_edit.html">Edit Profile</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </header>

    <main id="about" class="container">
      <div class="row section-header">
        <div class="col-sm-4 col-sm-offset-4">
          <h1>Friends</h1>
        </div>
      </div>
      <div class="row section-content">
        <div class="col-sm-6">

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>

          <div class="row friend-listing">
            <div class="col-sm-4">
              <%= image_tag("thumbnail.png", :alt => "Thumbnail Image", :class => "img-responsive") %>
            </div>
            <div class="col-sm-5">
              <a href="#"><h4 class="friend-name">Emiya Shirou</h4></a>
              <p>432 friends</p>
            </div>
            <div class="col-sm-3">
              <button type="button" class="unfriend btn btn-primary">Unfriend me</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>