<!-- Main content, Friends -->
<div class="row">
  <main class="panel panel-default friends-main">

    <header class="panel-heading">
      <h2 class="panel-title">Friends</h2>
    </header>

    <div class="panel-body">
      <div class="row">


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>


        <!-- Individual "well" for friend profile picture, name, unfriend
        button -->
        <div class="col-md-6">
          <div class="well well-sm friend-box">
            <ul class="list-inline">
              <li>
                <a href="#"><%= image_tag "user_silhouette_generic.gif" %></a>
              </li>
              <li>
                <ul class="list-unstyled friend-name">
                  <li><a href="#">Walter Sobchak</a></li>
                  <li><span class="light-text">432 Friends</span></li>
                </ul>
              </li>
              <li><a href="#" class="btn btn-default">Unfriend Me</a></li>
            </ul>
          </div>
        </div>

      
      </div>
    </div>

  </main>

</div><!-- End Friends row -->