<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Danebook</title>

    <!-- Meta Stuff -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Bootstrap Javascripts -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

    <!-- Our CSS -->
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

    <%= render partial: 'navbar' %>

    <!-- container for all content below nav -->
    <header class="container">

    <!-- all content goes into this one row below nav -->
      <div class="row">

      <!-- col where landing message lives, left side -->
        <section class="col-sm-12 content">
          <%= image_tag("fuyuki.png", :alt => "Cover Image", :class => "cover-img") %>
        </section>

        <!-- col where signup form lives, right side -->
        <div class="col-sm-12 signup-wrapper">
          <!-- container-fluid to keep size 5 units -->
          <div class="container-fluid">
            <div class="row">

              <%= image_tag("rin.png", :alt => "Profile Picture", :class => "profile-img") %>

              <ul class="nav nav-tabs">
                <li role="presentation" class="col-sm-offset-3">
                  <a href="timeline.html">Timeline</a>
                </li>
                <li role="presentation">
                  <a href="about.html">About</a>
                </li>
                <li role="presentation" class="active">
                  <a href="photos.html">Photos (123)</a>
                </li>
                <li role="presentation">
                  <a href="friends.html">Friends (542)</a>
                </li>
                <li role="presentation" class="col-sm-offset-3 pull-right">
                  <a href="about_edit.html">Edit Profile</a>
                </li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </header>

    <main id="about" class="container">

      <div class="row section-banner section-header">
        <div class="col-sm-2 col-sm-offset-5">
          <h1>Photos</h1>
        </div>
        <div class="col-sm-2 col-sm-offset-3 edit-button">
          <a href="about_edit.html">
            <button type="button" class="btn btn-primary">Add photo</button>
          </a>
        </div>
      </div>

      <div class="row section-content">
        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>