<%= render 'layouts/navbar' %>
      
  <div class="container">
 	
    <header class="header">

      <div class="top-part">
    	  <%= image_tag "hogwarts_small.jpg", class: "cover-photo" %>
    	  <%= image_tag "harry_potter_small.jpg", class: "user-photo" %>
    	  <p class="user-name">Harry Potter</p>
      </div>
        
      <div class="row tablist">
        <ul class ="nav nav-pills" role="tablist">
          <li><%= link_to "Timeline", timeline_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li class="active"><%= link_to "Photos", photos_path %></li>
          <li><%= link_to "Friends", friends_path %></li>
          <li class="navbar-right edit-profile"><%= link_to "Edit Profile", about_edit_path %></li>
        </ul>
      </div>
        
    </header> 
  </div><!-- /.container --> 	
	
  <div class="container">
	  <section class="sub-header">
	    <span><strong>Photos</strong></span>
	    <button class="btn btn-primary right-btn">Add Photo</button> <!-- dynamic depending on page -->
	  </section>
  </div>

  <section class="container">
   
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>

    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
   
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>
    <%= render 'layouts/photo' %>

  </section><!-- /.container -->

