<%= render 'logged_in_navbar' %>

<div id="photos">
  <main class="container">
    <%= render "profile_and_cover_panel" %>

    <!-- Photos panel -->
    <section>
      <!-- header for Photos panel -->
      <header>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="main-panel-header">Photos</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2 col-sm-offset-10">
            <a href="about_edit.html"><button class="header-button btn btn-primary btn-sm">Add Photo!</button></a>
          </div>
        </div>
      </header>

      <!-- Photo grid -->
      <section class="photos-panel">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">

              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row vertical-align horizontal-align">
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row vertical-align horizontal-align">
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row vertical-align horizontal-align">
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 parent">
                <div class="row">
                  <div class="col-sm-12 horizontal-align vertical-align">
                    <%= image_tag "/user_silhouette_generic.png", class: "friend-photo-lg", alt: "A generic photo icon." %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 hover-content">
                    <p>Uploaded January 1, 2015</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</div>
