<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render partial: 'header' %>
  </head>

  <body>

    <%= render partial: 'navbar' %>

    <%= render partial: 'top' %>

    <main id="about" class="container">

      <div class="row section-banner section-header">
        <div class="col-sm-2 col-sm-offset-5">
          <h1>Photos</h1>
        </div>
        <div class="col-sm-2 col-sm-offset-3 edit-button">
          <a href="about_edit.html">
            <button type="button" class="btn btn-primary">Add photo</button>
          </a>
        </div>
      </div>

      <div class="row section-content">
        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3">

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>

          <div class="row photo-listing">
            <div class="col-sm-12">
              <a href="#">
                <%= image_tag("photo.png", :alt => "Photo Placeholder", :class => "img-responsive img-thumbnail center-block") %>
              </a>
              <p class="hover-text">Uploaded Jan. 1, 2015</p>
            </div>
          </div>
        </div>

      </div>
    </main>
  </body>
</html>