<!-- Main content, Photos grid -->
<div class="row">
  <main class="panel panel-default photos-main">

    <header class="panel-heading clearfix">
        <div class="pull-right">
          <a href="#" class="btn btn-primary btn-xs">Add Photo!</a>
        </div>
      <h2 class="panel-title">Photos</h2>
    </header>

    <div class="panel-body">
      <div class="row">

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>

        <div class="col-xs-6 col-md-3 photo-gallery">
          <a href="#" class="thumbnail">
            <%= image_tag "icon_photo_small.png" %>
            <div class="timestamp">Uploaded January 1, 2015
            </div>
          </a>
        </div>                        

      
      </div>
    </div>

  </main>

</div><!-- End Photos row -->