<!-- Container for all Timeline page content -->
<main class="row timeline-main">
  <div class="row"><!-- Double row is used to correct panel margin -->


    <!-- Right Timeline Column, post box and feed 
    Column is pushed to the right at medium and above so when stacked
    at smaller sizes the Timeline/Post area appears above.-->
    <div class="col-sm-8 col-sm-push-4 newsfeed">


      <!-- New Timeline Post input textarea -->
      <form action="#">
        <section class="panel panel-default">
          
          <header class="panel-heading">
            <h4 class="panel-title">Post</h4>
          </header>
          <div class="panel-body">
            <textarea name="post-textarea" id="post-textarea" rows="4" class="form-control" placeholder="Tell the world something..."></textarea>
          </div>
          <div class="panel-footer clearfix">
            <input type="submit" value="Post" class="btn btn-primary btn-sm pull-right">
          </div>
          
        </section>
      </form>


      <!-- Timeline News Feed -->
      <!-- A Post -->
      <section class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="pull-left">
              <a href="about.html">
                <%= image_tag "jeff.jpg", class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <%= link_to "Jeff Lebowski", about_path %><br>
              <span class="light-text">Posted on <time datetime="2014/6/1">Thursday 6/1/2014</time></span>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eius maiores ipsum delectus provident iure, quo harum voluptatibus accusantium, porro molestias, natus itaque! Itaque quo laboriosam, modi, beatae reiciendis voluptatibus.</p>
        </div>
        <div class="panel-footer clearfix">
          <ul class="list-inline">
            <li class="pull-right"><a href="#">Delete</a></li>
            <li><a href="#">Like</a></li>
            <li><a href="#">Comment</a></li>
          </ul>
        </div>
      </section>

      <!-- Another post -->
      <section class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="pull-left">
              <a href="about.html">
                <%= image_tag "jeff.jpg", class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <%= link_to "Jeff Lebowski", about_path %><br>
              <span class="light-text">Posted on <time datetime="2014/5/21">Thursday 5/21/2014</time></span>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eius maiores ipsum delectus provident iure, quo harum voluptatibus accusantium, porro molestias, natus itaque! Itaque quo laboriosam, modi, beatae reiciendis voluptatibus.</p>
        </div>
        <div class="panel-footer clearfix">
          <ul class="list-inline">
            <li class="pull-right"><a href="#">Delete</a></li>
            <li><a href="#">Like</a></li>
            <li><a href="#">Comment</a></li>
          </ul>
          <p><a href="#">Walter Sobchak</a> likes this.</p>
        </div>
      </section>

      
      <!-- Another post, with comments -->
      <section class="panel panel-default">
        <div class="panel-body">
          <div class="media">
            <div class="pull-left">
              <a href="about.html">
                <%= image_tag "jeff.jpg", class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <%= link_to "Jeff Lebowski", about_path %><br>
              <span class="light-text">Posted on <time datetime="2014/5/21">Thursday 5/21/2014</time></span>
            </div>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt eius maiores ipsum delectus provident iure, quo harum voluptatibus accusantium, porro molestias, natus itaque! Itaque quo laboriosam, modi, beatae reiciendis voluptatibus.</p>
        </div>
        <div class="panel-footer clearfix">
          <ul class="list-inline">
            <li class="pull-right"><a href="#">Delete</a></li>
            <li><a href="#">Like</a></li>
            <li><a href="#">Comment</a></li>
          </ul>
          <p>You and <a href="#">Walter Sobchak</a> and 3 others like this.</p>

          <hr>

          <!-- Comments below the <hr> -->
          
          <div class="media comment">
            <div class="pull-left">
              <a href="#">
                <%= image_tag "user_silhouette_generic.gif", class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <a href="#">Donny Kerabatsos</a>
              <span class="light-text">Said on <time datetime="2014/5/21">Thursday 5/21/2014</time></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sequi culpa enim commodi deserunt voluptatem accusantium incidunt minus iure recusandae. Iste ipsa omnis ab fugiat et, est laborum nemo molestiae.</p>
              <ul class="list-inline">
                <li><a href="#">Like</a></li>
                <li>3 other people like this</li>
              </ul>
            </div>
          </div>

          <div class="media comment">
            <div class="pull-left">
              <a href="about.html">
                <%= image_tag "jeff.jpg", class: "media-object" %>
              </a>
            </div>
            <div class="media-body">
              <%= link_to "Jeff Lebowski", about_path %>
              <span class="light-text">Said on <time datetime="2014/5/22">Friday 5/22/2014</time></span>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt sequi culpa enim commodi deserunt voluptatem accusantium incidunt minus iure recusandae. Iste ipsa omnis ab fugiat et, est laborum nemo molestiae.</p>
              <ul class="list-inline">
                <li class="pull-right"><a href="#">Delete</a></li>
                <li><a href="#">Like</a></li>
                <li>3 other people like this</li>
              </ul>
            </div>
          </div>
          
          <form action="#"><p>
            <textarea name="comment-textarea" id="comment-textarea" rows="4" class="form-control" placeholder="Write a comment..."></textarea></p>
            <ul class="list-inline">
              <li class="pull-right"><input type="submit" class="btn btn-sm btn-primary" value="Comment"></li>
              <li><a href="#">Cancel</a></li>
            </ul>
          </form>

        </div>
      </section>

    </div><!-- End Right Timeline Column -->



    <!-- Left Timeline Column, about, photos, friends -->
    <div class="col-sm-4 col-sm-pull-8">
      
      <!-- Small About box -->
      <section class="panel panel-default">

          <header class="panel-heading">
            <h4 class="panel-title">About</h4>
          </header>

          <div class="panel-body">
            <p>
              <strong>Born on:</strong> December 4th, 1942
            </p>
            <p>
              <strong>College:</strong> Some
            </p>
            <p>
              <strong>Hometown:</strong> Los Angeles, CA USA
            </p>
            <p>
              <strong>Currently Lives:</strong> Los Angeles, CA USA
            </p>
          </div>

      </section>


      <!-- Small photos box -->
      <section class="panel panel-default">

        <header class="panel-heading">
          <h4 class="panel-title">Photos <span class="badge">123</span></h4>
        </header>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "icon_photo_small.png" %></a></div>
          </div>
        </div>

        <div class="panel-footer panel-footer-left">
          <%= link_to "See More Photos", photos_path %>
        </div>

      </section>


      <!-- Small friends box -->
      <section class="panel panel-default">

        <header class="panel-heading">
          <h4 class="panel-title">Friends <span class="badge">542</span></h4>
        </header>

        <div class="panel-body">
          <div class="row">
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
          </div>
          <div class="row">
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
            <div class="col-xs-4"><a href="" class="thumbnail"><%= image_tag "user_silhouette_generic.gif" %></a></div>
          </div>
        </div>

        <div class="panel-footer panel-footer-left">
          <%= link_to "See More Friends", friends_path  %>
        </div>

      </section>

    </div><!-- End Left Timeline Column -->


  </div><!-- End Double row, panel fix -->
</main><!-- End Main timeline content -->